// body toast

.body-toast {
  background: #cccc;
  font-size: .8rem;
  margin: 0 auto;
  max-width: 500px;
  padding: 2px 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: auto;
  border-radius: 2px;
  transition: all 20ms ;
  transform: translateX(-50%) translateY(100%);
}

.body-toast-enter {
    transform: translateX(-50%) translateY(100%);
}

.body-toast-enter-active {
    transform: translateX(-50%) translateY(-40%);
}

.body-toast-enter-done {
  transform: translateX(-50%) translateY(-40%);
}

.body-toast-exit {
  transform: translateX(-50%) translateY(-40%);
}

.body-toast-exit-active {
  transform: translateX(-50%) translateY(100%);
}

.body-toast-exit-done {
  transform: translateX(-50%) translateY(100%);
}

// body table

#body-table-container {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  background: #ffffff;

  th:hover:not(.highlighted) {
    background: #dcdcdc;
  }

  .highlighted {
    background: #cdcdcd;
    font-weight: 600;
    text-decoration: underline;
  }

  .cell {
    display: block;
    max-width: 260px;
    min-height: 12px;
    max-height: 28px;
    padding: 7px 8px;
    border-left: 1px solid #ECECEC;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th:first-child .cell, td:first-child .cell, td:nth-child(2) .cell {
    border-left: none;
  }

  table tbody tr {
    width: 100%;
    border-top: 1px solid #ECECEC;
    background: #FFF;
  }

  thead th {
    position: sticky;
    top: 0;
    background: #e6e6e6;
    font-weight: 500;
    cursor: pointer;
  }

  tfoot {
    padding: 100px 0;
    border-top: 1px solid #ECECEC;
  }

  .first-column {
    text-align: center;
    background: #e6e6e6;
  }

  .bottom-loading-spinner {
    display: block;
    position: absolute;
    left: 50%;
    bottom: -7px;
    margin: 0 auto;
    z-index: -1;
    font-weight: 500;
    color: #cdcdcd;
    border-style: none;
    transform: translate(-50%, -50%);
  }

  .bottom-filler {
    height: 50px;
  }
}

.spinner-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// JSON body viewer
#body-json-container {
  font-size: 0.8rem;

  #body-json-array {
    padding: 0 10px;
  }

  .preview-warning {
    background: #f0f39e;
    padding: 3px 10px;
  }

  .manual-code-line {
    font-family: monospace;
    display: inline-block;
    font-weight: bold;
    color: rgb(0, 43, 54);
  }

  .react-json-view {
    padding-left: 12px;
  }

  .manual-code-ellipsis {
    color: #cb4b16;
    font-size: 2rem;
    line-height: 1rem;
    padding-left: 15px;
  }
}
