.dataset-list {
  #dataset-list-header {
    display: flex;
    flex-direction: column;
    padding: 6px 10px;

    #controls {
      display: flex;
      flex-direction: column;
      padding-bottom: 6px;

      input {
        margin-right: 10px;
        flex: 1;
      }
    }

    .strong-message {
      font-weight: 500;
      font-size: 0.8rem;
    }
  }

  #buttons {
    display: flex;
    justify-content: space-between;
    border-bottom: $list-item-bottom-border;

    .dataset-list-button {
      flex: 1;
      text-align: center;
      border-right: $list-item-bottom-border;
      padding: 4px;

      &:last-child {
        border-right: none;
      }
    }
  }
}
