#dataset-list {
  display: flex;
  flex-direction: column;
  z-index: 110;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background-color: #fff;

  #dataset-list-header {
    height: 50px;
  }

  #dataset-list-filter {
    display: flex;
    flex-direction: column;
    padding: 12px 10px;
    margin: 0 -5px;

    #dataset-list-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .dataset-list-button {
        flex: 1;
        text-align: center;
        margin: 0 5px 10px 5px;
        font-weight: 400;
        font-size: .8rem;
        padding: 0.5rem;
        min-width: unset;
      }
    }

    .filter-input-container {
      width: 100%;
      display: flex;
      input {
        width: 100%;
        border: 1px solid #e1e4e8;
        border-radius: 3px;
        padding: 2px 5px;
        margin: 0 5px;

        &:focus {
          outline: none;
          border-color: $primary;
          box-shadow: 0 0 0 1px #afafaf4d;
        }
      }
    }
  }

  a {
    position: absolute;
    right: 18px;
    line-height: 1.7rem;
  }

  #list {
    flex: 1;
    border-bottom: $list-item-bottom-border;
  }

  #list-footer {
    flex: 0;
    text-align: center;
    padding: 8px;

    .strong-message {
      font-weight: 500;
      font-size: 0.8rem;
    }
  }
}
