#dataset-list {
  display: flex;
  flex-direction: column;
  z-index: 110;
  height: 100%;

  header {
    display: flex;
    flex-direction: column;

    #dataset-list-filter {
      padding: 12px 10px;
      width: 100%;
      display: flex;
  
      .filter-input-container {
        width: 30%;
        max-width: 40%;
        flex: 1;
        display: flex;
        position: relative;

        input {
          height: 40px;
          width: 100%;
          background: #e1e4e8;
          border-radius: 4px;
          padding: 2px 5px;
          box-shadow: none;
          border: 1px solid transparent;
  
          &:focus {
            outline: none;
            border-color: $primary;
          }
        }

        .close {
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }

    .list-picker-and-bulk-actions {
      display: flex;
      padding: 12px 40px 0 40px; 

      button {
        border: none;
        background: transparent;
      }

      .active {
        font-weight: bold;
        border-bottom: 2px solid #4FC7F3;
      }

      .list-picker {
        flex: 1;
        max-width: 30%;
        button {
          padding: 6px 10px;
          margin: 0 4px;
        }
      }

      .bulk-actions {
        flex: 1;
        text-align: center;
        padding-top: 10px;
        
        button {
          margin: 4px 5px;
          font-weight: bold;
          color: #4FC7F3;
        }
      }

      .count-message {
        padding: 14px 20px 6px 12px;
      }
    }
  }

  #list {
    flex: 1;
    width: 100%;
    overflow: auto;

    table {
      width: 100%;
      thead {
        border-bottom: $list-item-bottom-border;
      }
      thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
        background: white;
        border-bottom: $list-item-bottom-border;
        box-shadow: 0 0 3px #00000002;
      }

      .ref.text {
        cursor: pointer;
      }

      tr td, 
      tr th {
        padding: 8px 12px;
      }
      tr td.icons {
        position: relative;
        padding: 0;
      }
    }
  }
}
