////////////////////////////
//    Dataset Container   //
////////////////////////////

$list-item-bottom-border: 1px solid $border-color;
$sidebar-item-padding:  6px 10px;
$hover-highlight-color: #F6F8FA;
$header-height: 30px;
$header-font-size: .9rem;

#dataset-container {

  .header {
    height: 50px;
    background-color: #315379;
    color: #F8F2F2;
    cursor: default;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    z-index: 102;

    // Header Dropdown Menu

    .dropdown {
      position: absolute;
      list-style-type: none;
      padding: 0;
      background: #FFF;
      color: #000;
      border: 1px solid #b1b1b1;
      top: 50px;
      right: 0px;
      z-index: 1;
      text-align: right;
      font-size: .75rem;

      li {
        padding: 6px 13px;

        a {
          color: #000;
        }

        &:hover {
          background: #ddd
        }
      }
    }
  }

  .terminal {
    background: $black;
    border: solid 1px $border-color;
    font-family: $font-family-monospace;
    overflow: scroll;
    font-size: $small-font-size;
    padding: $spacer;
    color: $white;
    text-overflow: unset;
  }

  .current-dataset {
    width: 250px;
    position: relative;
    z-index:10;
    display: inline-flex;

    .header-column-text {
      overflow-x: hidden;
    }

    &.expanded {
      z-index: 111;
      color: #383838;
    }

    .arrow.collapse {
      border-bottom: 5px solid #383838;
    }
  }

  .user-image {
    height: 16px;
    width: 16px;
    margin-right: 4px;
    border-radius: 2px;
  }

  .text-column {
    .text {
      font-weight: 600;
      font-size: 1rem;
    }

    .subtext {
      font-size: .75rem;
      line-height: 1rem;
    }
  }

  .text-column .text {
    font-weight: 400;
  }
}

.history-list-item {
  // override sidebar list items in history tab
  // to show a timeline

  $timeline-color: #305379;

  border: none !important;

  &.selected {
    .history-timeline-dot {
      background-color: $light-blue-accent;
      width: 12px;
      height: 12px;
      left: -1px;
    }
  }

  &.last {
    .history-timeline-line-bottom {
      display: none;
    }
  }

  &.foreign {
    cursor: default;
    color: grey;
  }


  &.sidebar-list-item-text {
    .icon-column {
      align-self: start;
      margin-top: 5px;
    }
  }

  &.working-dataset {
    height: 50px;
    .history-timeline-line {
      border-style: dashed;
      height: 30px;
      top: 32px;
    }
    .history-timeline-dot {
      background-color: transparent;
      height: 12px;
      width: 12px;
      border: solid 1px $timeline-color;
      left: -1px;
      top: 8px;
    }
    &.selected {
      .history-timeline-dot {
        background-color: $light-blue-accent;
        border: none;
      }
    }
    &.last {
      .history-timeline-line {
        display: none;
      }
    }
  }

  .history-timeline-line {
    border: solid 2px $timeline-color;
    position: absolute;
    left: 13px;
  }

  .history-timeline-line-bottom {
    height: 100%
  }

  .history-timeline-dot {
    height: 10px;
    width: 10px;
    background-color: $timeline-color;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    left: 0;
    transition: all 0.2s;
  }
}

////////////////////////////
//     Dataset Sidebar    //
////////////////////////////

#network-sidebar {
  height: 100%;

  .sidebar-content {
    height: 100%;
  }
}

#dataset-edit-main-sidebar {
  border-right: 1px solid $border-color;

}

.sidebar {
  height: 100%;
  font-size: $header-font-size;
  cursor: default;
  display: flex;
  flex-direction: column;
  background-color: $dataset-sidebar-color;
  border-right: 1px solid $border-color;
  color: $black;
  overflow: hidden;

  .sidebar-padded-container {
    padding: 0 10px;
  }

  .sidebar-header {
    p {
      margin-bottom: 2px;
    }

    .pane-title {
      color: $black;
      font-size: 1.2rem;
      font-weight: 900;
    }

    .dataset-reference {
      font-size: 1.05rem;
      display: flex;
      margin: 20px 20px 0 20px;
    }

    .dataset-name {

      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      input {
        background-color: $primary-muted;
        border: none;
        border-radius: 5px;
        color: black;
        padding: 0 5px;
        outline: none;
        width: 100%;
        transition: background 0.2s;

        &.invalid {
          background: #F43535;
        }

      }

      &:hover {
        &.no-pointer {
          cursor: default;
        }
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  #list {
    overflow-y: auto;
  }

  #tabs {
    display: flex;

    .tab {
      color: $light-blue-accent;
      width: 50%;
      height: 100%;
      flex: 1;
      text-align: center;
      line-height: 1.9rem;
      cursor: pointer;
      transition: border $active-item-highlight-transition;
      border-bottom: 2px solid transparent;

      &:last-child {
        border-right: 0;
      }

      &:hover {
        border-bottom: 2px solid $light-blue-accent-subdued;
      }

      &.active {
        border-bottom: 2px solid $light-blue-accent;
      }

      &.disabled {
        color: $text-muted;
      }
    }
  }

  #content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .spinner {
      margin-top: $spacer;
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .sidebar-content {
      overflow: auto;
      width: 100%;
      height: 100%;
      flex: 1;
      position: absolute;
    }

    .commit-nudge {
      flex: 0;
      padding: $sidebar-item-padding;
      padding-top: 14px;
      padding-bottom: 14px;
      background: $primary-dark;
      color: $white;
      display: flex;
      font-size: .8rem;

      a {
        margin-left: 10px;
      }

      .commit-nudge-text {
        flex: 1;
      }
    }
  }

  label {
    padding: 20px;
    text-transform: capitalize;
  }
}


.status-dot {
  height: 12px;
  width: 12px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.status-dot-modified {
  background-color: #F4A935;
}

.status-dot-removed {
  background-color: #F43535;
}

.status-dot-added {
  background-color: #38C629;
}

.edit-icon {
  font-size: 0.75rem;
  opacity: 0;
  transition: opacity 0.1s;
  color: $light-blue-accent;
}


////////////////////////////
//     Commit Details     //
////////////////////////////

#commit-details {
  #transition-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    position: absolute;;
  }

  .commit-details-header {
    padding: $sidebar-item-padding;
    border-bottom: $list-item-bottom-border;

    .details-flex {
      display: flex;
      justify-content: space-between;

      .text-column {
        flex: 1;
      }

      .details-column {
        flex: 1;
        color: #999999;
        align-items: center;
        display: flex;
        justify-content: space-around;
      }

      .time-message {
        margin: 2px 0;
      }

      .small.hash {
        font-size: 12px;
      }
    }
  }

  #commit-details-sidebar {
    width: 200px;
    border-right: $list-item-bottom-border;
  }
}



////////////////////////////
//       Structure        //
////////////////////////////
.input-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0 0 $spacer $spacer;
}

////////////////////////////
//    Unlinked Dataset    //
////////////////////////////

.dataset-not-in-namespace {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .message-container {
    display: flex;
    flex-direction: row;
    padding: $spacer * 2;
    max-width: 475px;
    border-radius: 5px;
  }
}

// special formatting for chat icon
[data-icon="comment-alt"] {
  position: relative;
  top: 2px;
}

// beta flag
#beta-flag {
  background: #4FC7F3;

  &:hover {
    background: #28b6de !important;
  }

  .label {
    font-weight: 600 !important;
    position: relative;
    left: -3px;
    color: #fff;
    letter-spacing: 2px;
  }
}

// DetailsBar
.details-bar-wrapper {
  z-index: 2;
  position: absolute;
  height: 100%;
  background: $appBackground;
  border-right: 1px solid $border-color;
  // -webkit-transition-duration: 0.3s;
  // -moz-transition-duration: 0.3s;
  // -o-transition-duration: 0.3s;
  // transition-duration: 0.3s;
  transition: left 0.3s;
  &:active {
    transition: left 0.3s, opacity 0.3s 0.3s;
  }
}

.details-bar-inner {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.details-bar-content {
  overflow-y: scroll;
  overflow-wrap: break-word;
  margin-right: $spacer;
}

.details-bar-header {
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;

  h3 {
    margin: 0;
    font-weight: 500;
    padding: 0;
    overflow: auto;
  }

  h4 {
    font-size: 0.8rem;
    margin-top: $spacer;
  }

  .close {
    flex-shrink: 0;
    position: absolute;
    top: $spacer;
    right: $spacer;
    border: 0;
    height: 18px;
    width: 18px;
    background: transparent;

    color: black;
    cursor: pointer;

    &:hover {
      color: $text;
    }

    &:focus {
      outline: 0;
    }
  }
}

.component-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .component-header {
    line-height: 1.9rem;
    height: $header-height;
    border-bottom: $list-item-bottom-border;
    font-size: $header-font-size;
    padding: 0px 10px;
    flex-direction: row;
    display: flex;

    .component-display-name-container {
      flex: 1;
      .component-display-name {
        display: inline-block
      }
    }

    .status-dot-container {
      display: flex;
      align-items: center;
    }
  }

  .component-content {
    flex: 1;
    height: 100%;
    width: 100%;
    position:relative;
    display: flex;
    flex-direction: column;

    #body-table-container {
      overflow-y: none;
    }
  }
}

.content {
  overflow-x: scroll;
  height: 100%;
}

// badge
.badge {
  font-size: 10px;
  display: inline;
  color: #123459;
  background-color: #4FC7F3;
  height: 15px;
  padding: 0 5px;
  border-radius: 8px;
  position: relative;
  top: -2px;
  font-weight: 700;
}
