dialog {
  border: solid 1px $border-color;
  padding: 10px;
  border-radius: 5px;

  background: $appBackground;

  opacity: 1;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: $zindex-modal;

  min-width: 400px;
  max-width: 600px;
}

dialog::backdrop, dialog + .backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  z-index: $zindex-modal;
}
