dialog {
  padding: 0;
  border-radius: 5px;
  background: #F5F7FA;
  border: 1px solid #E8EDF2;
  box-shadow: 0 0 6px #00000055;
  background: $appBackground;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: $zindex-modal;
  width: 500px;

  &.max {
    width: 70%;
    height: 70%;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    z-index: $zindex-modal;
  }

  .dialog-header {
    padding: 0 1.5rem;
    height: 60px;
    border-bottom: solid 1px $border-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: $font-weight-medium;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $font-size-lg;
      margin: 0;
      padding: 0;
      margin-right: $spacer;
    }

    .close {
      flex-shrink: 0;

      border: 0;
      height: 18px;
      width: 18px;
      padding: 0;
      background: transparent;

      color: $primary-muted;
      cursor: pointer;

      &:hover {
        color: $text;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  form {
    padding: 1.5rem;

    &.no-padding {
      padding: 0;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $spacer;
    }
  }

  // when using the /modal/Tabs component & CSSTransition
  // wrap all the views of content in a `.content-wrap` class
  // (if you want a different min-height, use an id)
  // then wrap each different view with the .content class
  // set the CSSTransition `in` param to be true when
  // the correct tab is active
  // as you click through the tabs, they will transition
  .content-wrap {
    min-height: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;

    .content {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      background: $appBackground;

      .content-main {
        flex: 1;
      }

      .content-bottom {
        flex: 0;
      }

      h4 {
        font-weight: 600;
      }
    }

    // #error {
    //   bottom: 1rem;
    // }
  }

  #create-dataset-content-wrap {
    min-height: 100px;
  }

  .tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 1px $border-color;
    margin: $spacer * -1 0 $spacer 0;

    .tab {
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
      padding: $spacer * .5 $spacer;
      border-right: solid 1px $border-color;
      color: $primary-muted;
      cursor: pointer;
      font-weight: $font-weight-medium;
      min-width: 60px;
    }

    .last {
      border-right: none;
    }

    .active {
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
      border-bottom: none;
      color: $primary;
      cursor: auto;
      background-color: $white;
    }
  }

  #add-dataset-tab {
    margin: $spacer * -1 0 $spacer $spacer * -.5;
  }

  .error {
    color: $error;
    height: 100%;
    overflow-wrap: normal;
    width: 90%;
    margin-bottom: $spacer;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
