// styling for the HandsOnTableEditor

.editor.handsontable th {
  color: $primary-light;
}

// for some reason this specific left side border wants to be a weird color
// this random css fixes it so it looks like every other border
.editor.handsontable.htRowHeaders thead tr th:nth-child(2) {
  border-left: 1px solid #1e1e1e;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(30, 30, 30);
}

.editBody .handsontable th:first-child {
  border: 1px solid #1e1e1e;
}