.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .header-title {
    color: $black;
    font-size: 1.2rem;
    font-weight: 900;
  }

  .header-column {
    display: inline-flex;
    padding: 10px 0px;
    font-size: 0.8rem;
    font-weight: 500;
    align-items: center;
    cursor: pointer;

    &:last-child {
      padding-left: 20px;
    }

    .header-column-icon {
      color: $text-light;
      margin-right: 8px;
    }
    .header-column-text {
      color: $light-blue-accent;
    }
  }

  #create-dataset:hover,
  #add-dataset:hover {
    .header-column-icon {
      color: $text-muted;
      transition: color $active-item-highlight-transition;
    }
  }
}
