.metadata-viewer-wrap {
  padding: 10px;
}

.metadata-viewer-title {
}

.metadata-viewer-table-wrap {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #eee;
  overflow: hidden;
}

.metadata-viewer-table {
  width: 100%;
}

.array-items-table-container {
  padding-top: 5px;
  padding-right: 5px;
  .metadata-viewer-table-wrap {
    margin-bottom: 5px;
  }
}

.metadata-viewer-row {
  border-bottom: 1px solid #eee;
}

.metadata-viewer-key {
  padding: 8px 8px;
  font-size: .8rem;
  font-weight: 600;
  width: 112px;
  text-align: right;
}

.metadata-viewer-link {
  font-size: 17px;
}

.metadata-viewer-info {
  color: $primary-light;
}

.metadata-viewer-data {
  text-align: right;
  color: $primary-light;
  padding-right: 15px;
}

.chip, .big-chip {
  background: #e4e4e4;
  border-radius: 4px;
  padding: 0px 8px;
  margin: 2px 2px;
  display: inline-block;
}

.big-chip {
  padding: 4px 8px;
}

