#modal-wrap {
	background: rgba(0,0,0,0.45);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}

#modal-wrap.modal-wrap-in {
	opacity: 1;
	z-index: 4;
}

#modal-wrap.modal-wrap-out {
	opacity: 0;
	z-index: -1;
}

#modal {
	z-index: 5;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
	background: $primary;
	position: absolute;
	overflow-y: auto;
	top: 0;	
	bottom: 0;
	right: 0;	
	width: 0;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}

#modal.modal-in {
		width: 360px
	}

#modal.modal-out {
		width: 0;
	}
