// TODO import this
$sidebar-item-padding:  6px 10px;

#save-form {
  background-color: #ececec;
  height: 180px;
  display: flex;
  flex-direction: column;
  padding: 6px 0;

  .btn {
    width: 100%;
  }

  input, textarea {
    width: 100%;
  }

  textarea {
    vertical-align: top;
    resize: none;
    height: 100%
  }

  .title {
    padding: $sidebar-item-padding;
  }

  .message {
    flex-grow: 1;
    padding: $sidebar-item-padding;
  }

  .submit {
    padding: $sidebar-item-padding;

    &.disabled {
      color: #ccc
    }
  }
}

.sync-spinner {
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  text-align: center;
  height: 33px;
  padding: $sidebar-item-padding;

  svg {
    margin-right: 6px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
