// TODO import this
$sidebar-item-padding:  6px 10px;

#save-form {
  background-color: steelblue;
  height: 180px;
  display: flex;
  flex-direction: column;
  padding: 6px 0;

  input, textarea {
    width: 100%;
  }

  textarea {
    vertical-align: top;
    resize: none;
    height: 100%
  }

  .title {
    padding: $sidebar-item-padding;
  }

  .message {
    flex-grow: 1;
    padding: $sidebar-item-padding;
  }

  .submit {
    padding: $sidebar-item-padding;
  }
}
