//
// SCSS for Schema components
//
// EditSchema
// schema

////////////////////////////
//         schema         //
////////////////////////////
.schema-wrap {
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 5px 10px;
}

.schema-properties {
  margin: 5px 10px;
}

////////////////////////////
//       EditSchema       //
////////////////////////////
.edit-schema-wrap {
  width: 100%;
  border-radius: 2px;
  border: 1px solid $primary-muted;
  margin: 5px 14px;
}

.twod-schema-layout {
  .flex-table {
    .cell {
      display: inline-flex;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .header-row {
      font-weight: 500;
      padding: 0;
      margin-bottom: 9px;
      border-bottom: 1px solid $border-color
    }

    .row {
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid #eaeaea;
    }

    .other-keywords {
      flex-basis: 20%;
    }
  }
}

.type-icon {
  display: inline-block;
  display: inline-block;
  text-align: center;
  color: #ababab;
}

.text-glyph {
  font-family: 'Georgia', serif;
  font-size: 0.7rem;
  font-weight: 700;
}
