

.stats-values {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;

  .stats-value {
    margin: 5px 15px;

    h4 {
      font-family: $font-family-sans-serif;
      margin-bottom: 0;
    }
    .label {
      font-family: $font-family-sans-serif;
    }
  }
}