.fade-shrink-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-shrink-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-shrink-exit {
  opacity: 1;
}
.fade-shrink-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.fade-enter {
  opacity: 0;
  &::backdrop {
    opacity: 0;
  }
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  &::backdrop {
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
  }
}

.fade-appear {
  opacity: 0;
  &::backdrop {
    opacity: 0;
  }
}
.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  &::backdrop {
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
  }
}

.fade-exit {
  opacity: 1;
  &::backdrop {
    opacity: 1;
  }
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  &::backdrop {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
}

.slide-enter {
  max-height: 0px;
}

.slide-enter-active {
  max-height: 500px;
  transition: max-height 300ms, transform 300ms;
}

.slide-exit {
  max-height: 500px;
}

.slide-exit-active {
  max-height: 0px;
  transition: max-height 300ms, transform 300ms;
}

// outer div
.transition-group {
  position:relative;
  height:100%;
  width:100%;
}

// inner divs
#transition-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}