// * Symbolset
// * www.symbolset.com
// * Copyright © 2012 Oak Studios LLC
@font-face {
  font-family: "SSPika";
  src: url('./assets/ss-pika.eot');
  src: url('./assets/ss-pika.eot?#iefix') format('embedded-opentype'),
       url('./assets/ss-pika.woff') format('woff'),
       url('./assets/ss-pika.ttf')  format('truetype');
       // url('./assets/ss-pika.svg#SSPika') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"]{-ms-zoom: 1;}

.icon, .ss-icon, .ss-icon.ss-pika,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-pika:before, [class*=" ss-"].ss-pika:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-pika.right:after, [class*=" ss-"].ss-pika.right:after {
  font-family: "SSPika";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

[class^="ss-"].right:before,
[class*=" ss-"].right:before{display:none;content:'';}

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 { 
  font-size: $font-size-h1; 
  font-weight: $font-weight-bold; 
  line-height: 50px;
  }
h2, .h2 { 
  font-size: $font-size-h2; 
  font-weight: $font-weight-medium;
  line-height: 40px;
  }
h3, .h3 { 
  font-size: $font-size-h3; 
  font-weight: $font-weight-regular;
  line-height: 32px;
  }
h4, .h4 { 
  font-size: $font-size-h4; 
  font-weight: $font-weight-regular;
  line-height: 30px;
  }
h5, .h5 { 
  font-size: $font-size-h5; 
  font-weight: $font-weight-regular;
  line-height: 20px;
  color: $primary;
  }

h6, .h6 {
  font-size: $font-size-h6; 
  font-weight: $font-weight-light;
  font-style: italic;
  line-height: 16px;
  color: $text;
}

.inline-block {
  display: inline-block;
}

//
// Horizontal rules
//

hr {
  margin-top: 0;
  margin-bottom: $spacer-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
  width: 100%;
}


//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: normal;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}

label {
  font-weight: $font-weight-regular;
  font-size: 14px;
  line-height: 17px;
}

//
// Lists
//

.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

//
// Misc
//

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
.blockquote {
  padding: ($spacer / 2) $spacer;
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
  border-left: $blockquote-border-width solid $blockquote-border-color;
}

.blockquote-footer {
  display: block;
  font-size: 80%; // back to default font-size
  color: $blockquote-small-color;

  &::before {
    content: "\2014 \00A0"; // em dash, nbsp
  }
}

// Opposite alignment of blockquote
.blockquote-reverse {
  padding-right: $spacer;
  padding-left: 0;
  text-align: right;
  border-right: $blockquote-border-width solid $blockquote-border-color;
  border-left: 0;
}

.blockquote-reverse .blockquote-footer {
  &::before {
    content: "";
  }
  &::after {
    content: "\00A0 \2014"; // nbsp, em dash
  }
}

@if not $enable-flex {
  // Clean up some horizontal `<dl>`s built with grids
  // scss-lint:disable QualifyingElement
  dl.row {
    > dd + dt {
      clear: left;
    }
  }
  // scss-lint:enable QualifyingElement
}

.primary {
  color: $primary;
}

.primaryLight {
  color: $primary-light;
}

.connected {
  color: $connected;
}

.error {
  color: $error;
}

.textMuted {
  color: $text-muted;
}

.white {
  color: $white;
}

.hash {
  font-family: $font-family-monospace;
  font-size: 14px;
  line-height: 16px;
  font-weight: $font-weight-light;
  font-color: $text-muted
}

.statsLine {
  font-family: $font-family-monospace;
  font-size: 14px;
  line-height: 16px;
  font-weight: $font-weight-light;
}

.linkXLarge {
  font-weight: $font-weight-medium;
  font-size: 26px;
  color: $primary;
}

.linkLarge {
  font-weight: $font-weight-medium;
  font-size: 20px;
  color: $primary;
}

.linkMedium {
  font-weight: $font-weight-medium;
  font-size: 15px;
  color: $primary;
}

.linkSmall {
  font-weight: $font-weight-light;
  font-size: 16px;
  color: $primary;
}

.linkLargeMuted {
  font-weight: $font-weight-medium;
  font-size: 20px;
  color: $primary-muted;
  &:hover {
    color: $primary-dark;
  };
  &:focus {
    color: $primary;
  }
}

.linkMediumMuted {
  font-weight: $font-weight-medium;
  font-size: 15px;
  color: $primary-muted;
  &:hover {
    color: $primary-dark;
  };
  &:focus {
    color: $primary;
  }
}

.linkSmallMuted {
  font-weight: $font-weight-light;
  font-size: 16px;
  color: $primary-muted;
  &:hover {
    color: $primary-dark;
  };
  &:focus {
    color: $primary;
  }
}

.errLinkXLarge {
  font-weight: $font-weight-medium;
  font-size: 26px;
  color: $error;
}

.errLinkLarge {
  font-weight: $font-weight-medium;
  font-size: 20px;
  color: $error;
}

.errLinkMedium {
  font-weight: $font-weight-medium;
  font-size: 15px;
  color: $error;
}

.errLinkSmall {
  font-weight: $font-weight-light;
  font-size: 16px;
  color: $error;
}

.code {
  font-family: $font-family-monospace;
  font-weight: $font-weight-regular;
  line-height: 22px;
}

.stats-medium {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  font-size: 20px;
  line-height: 22px;
}

.stats-large {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  font-size: 14px;
  line-height: 22px;
}

strong {
  font-weight: bold;
}