////////////////////////////
//         Welcome        //
////////////////////////////
.welcome-page {
    background: $appBackground;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

#app-loading { z-index: 201 }
#app-error { z-index: 200 }
#welcome-page { z-index: 199 }
#signup-page { z-index: 198 }
#signin-page { z-index: 197 }

#spinner-with-icon-wrap { width: 100%; height: 100%; position: absolute; }

.welcome-no-logo {
  max-height: 300px;
}

.welcome-center {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.welcome-content {
  h6 {
    text-align: center
  }
}

.welcome-accept {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
}

.welcome-graphic {
  align-self: flex-start;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
  height: 150px;
  width: 150px;
}

.welcome-title {
  text-align: center;
}

.welcome-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 27px;
}

.welcome-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.no-datasets-options {
  height: 107px;
  width: 100%;
  margin: 10px 0 5px 0;
  border: solid 1px $border-color;
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  font-size: 0.8rem;

  h5 {
    padding: 10px 0px;
    font-weight: 500;
  }
}
.no-datasets-options:hover {
  background:$border-color;
  cursor: pointer;
}

.text-input-container {
  width: 100%
}

.text-input-tooltip {
  svg {
    path {
      fill: #c1c1c1;
    }
  }
}

.checkbox-input-container {
  display: flex;

  input {
    margin-right: 5px;
  }

  span {
    font-size: 0.8rem;
  }
}
