.pointer {
  cursor: pointer;
}

.switch {
  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    // text-indent: -9999px;
    width: 24px;
    height: 12px;
    background: white;
    display: block;
    border-radius: 100px;
    position: relative;
    border: solid 1px white;
  }

  .switch-dark {
    background: #D8D8D8;
    border-color: #D8D8D8;
  }
  
  .switch-dark:after {
    background: #979797;
    border: solid 1px #979797;
  }

  .switch-large {
    width: 40px;
    height: 20px;
    border-width: 1px;
  }
  
  label:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #4D4D4D;
    border-radius: 10px;
    transition: 0.3s;
  }

  .switch-large:after {
    width: 18px;
    height: 18px;
  }
  
  input:checked + label:after {
    background: #4FC7F3;
  }

  input:checked + .switch-dark:after {
    background: #4FC7F3;
    border: solid 1px #4FC7F3;
  }
  
  input:checked + label:after {
    transform: translateX(calc(100% + 2px));
  }
}

.segment {
  margin: 10px auto;
  background: #FFF;
  border-radius: 3px;
  border: 1px solid #D8DFE6;

  &.segment-expanded {
    border-radius: 0px;
    margin: 0;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;
  }

  .caret {
    margin-right: 15px;
    cursor: pointer;
    width: 12px;
  }

  .content {
    padding: 0;
    overflow-y: auto;
    transition: max-height 0.3s ease-in-out;
  }

  header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 10px;
    border-bottom: 1px solid #E8EDF2;
    min-height: 40px;
  
    &.content-closed {
      transition: 'border-bottom 0.0 ease-in-out 0.3s';
      border-bottom: none;
    }
    
    .right-side {
      margin-left: auto;
    }

    .expand {
      cursor: pointer;
    }

    .left-side {
      display: flex;
      flex-direction: row;
      align-items: center;
      .segment-icon {
        margin-right: 10px;
      }
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .name {
        font-family: $font-family-sans-serif;
        font-weight: 500;
        margin: 0;
        font-size: 16px;
        line-height: 19px;
      }
      .subhead {
        font-family: $font-family-sans-serif;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
      }
    }
  }
}

.action-button {
  color: #4FC7F3;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  white-space: nowrap;

  .text {
    margin-left: 10px;
  }

}

.hamburger {
  position: relative;

  .hamburger-icon {
    &:hover {
      cursor: pointer;
      color: #000000;
    }
  }

  .hamburger-overlay {
    position: absolute;
    right: 0;
    z-index: 99;
    text-align: right;

    .content {
      > div {
        cursor: pointer;
        padding: 10px;
        font-size: 14px;
        white-space: nowrap;

        &:hover {
          cursor: pointer;
          background-color: #F5F7FA;
        }
      
        &> * {
          pointer-events: none;
        }
      }
    }
  }
}

.action-button-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > div {
    display: inline-block;

    &.closed {
      display: none;
    }
  }
}