
// dataset details w/ icons
.dataset-details-container {
  display: flex;
  justify-content: space-between;
}

.dataset-details {
  font-size: 12px;
  display: inline-block;
  font-weight: 500;
  color: #797878;
  margin: 0 16px 0 0;

  &:first-child {
    margin-left: 0
  }

  &:last-child {
    margin-right: 0
  }

  svg {
    margin-right: 6px;
  }
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-flow: nowrap;

  .left {
    display: flex;
    align-items: flex-start;
    min-width: 0;
    float: unset;
    overflow: hidden;
    white-space: nowrap;

    &.expanded {
      cursor: pointer;
    }

    &.expandable {
      cursor: pointer;
    }

    .title-bar-icon {
      margin-top: 5px;
      margin-right: 10px;
    }

    .title-bar-title {
      font-size: 24px;
      font-weight: 900;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;

      &.expanded {
        white-space: normal;
      }
    }
  }
  .right {
    flex-grow: 1;
    flex-Basis: 40px;
    float: unset;
  }
}

.commit-preview {
  width: 100%;
  font-family: 'Rubik';
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E8EDF2;
  border-radius: 3px;
  padding: 10px 20px;

  .author-time {
    font-weight: 500;
  }

  .title {
    font-weight: 300;
  }
}

.structure {
  height: 100%;
  overflow-y: scroll;

  > div {
    padding: 15px;
  }
}

.overview {
  width: 100%;
  #overview {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .description {
      max-width: 600px;
      padding-right: 20px;
    }
  }
  .expandable {
    cursor: pointer;
  }
}

.dataset {
  overflow-x:auto;
  padding: 20px;
  width: 100%;

  > div {
    margin-bottom: 20px;
  }
}

.table-container {
  $cell-border: 1px solid #D8D8D8;
  $header-background-color: #f0f0f0;

  overflow: scroll !important;
  height: 100%;

  table {
    table-layout: fixed;
    min-width: 100%;

    td, th {
      white-space: nowrap;
      border-top-width: 0;
      border-left-width: 0;
      border-right: $cell-border;
      border-bottom: $cell-border;
      padding: 2px 6px;
      font-size: 14px;
      font-weight: 300;
    }

    tr {
      border-left: none;
    }

    th {
      border-left: $cell-border;
      font-weight: 500;
    }

    td:first-child, th:first-child {
      margin-left: -2px;
      text-align: center;
      border-left: none;
      color: #969696;
      font-weight: 500;
      padding: 3px 1px;
    }

    td:last-child, th:last-child {
      border-right: none;
    }
  }
}

#json-preview-container {
  height: 500px;
  width: 100%;

  .CodeMirror {
    height: 500px;
  }
}

#history-list {
  padding: 0 10px;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
}

#export-dataset {
  .options-row {
    display: flex;
    padding-top: 8px;

    .options-column {
      flex: 50%;

      .options-column-content {
        margin-top: 9px;
        margin-left: 23px;

        .checkbox-input-container, .radio-input-container {
          margin-bottom: 6px;
        }
      }
    }
  }

  .export-dataset-info {
    background-color: #f5f5f5;
    padding: 4px 10px 10px 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 3px;
  }
}

// easyMDE (readme)
.EasyMDEContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cm-s-easymde {
  height: 100%;
}
