.icon-dark {
  transition: color .2s ease-out;
  color: #000000;
}

.icon-medium {
  transition: color .2s ease-out;
  color: #B3B3B3;
}

.icon-light {
  transition: color .2s ease-out;
  color: #ffffff;
}

.icon-red {
  transition: color .2s ease-out;
  color: #EE325C;
}

.icon-green {
  transition: color .2s ease-out;
  color: #9EEE32;
}