.data-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin: 3px;

  .type-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.schema-item {
  width: 100%;
  padding: 10px 10px 4px 10px;
  border: solid 1px #E8E9ED;
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 45px;


  .schema-item-icon {
    padding-top: 4px;
    padding-left: 7px;
    width: 14px;
    flex: 0 0 14px;
  }

  &.expanded {
    align-items: flex-start 
  }

  &.top {
    border-top: solid 1px #E8E9ED;
  }
}