.data-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin: 3px;

  .type-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}