.tab-picker {
  display: flex;
  flex-direction: row;
  font-family: 'Rubik';

  div {
    cursor: pointer;
  }

  .active {
    border-bottom-style: solid;
  }
}

.tab-picker.small {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;

  div {
    padding: 5px 7px 3px 7px;
    margin: 3px 3px 0px 10px;
  }

  .active {
    border-bottom-width: 1px;
  }
}

.tab-picker.medium {
  text-transform: capitalize;
  font-size: 14px;
  
  div {
    padding: 7px 40px 5px 40px; 
    margin: 0 0 0 5px;
  }

  .active {
    border-bottom-width: 2px;
  }
}

.tab-picker.dark {
  color: #4D4D4D;

  .active {
    border-bottom-color: #D8DFE6;
  }
}

.tab-picker.light {
  color: #4FC7F3;

  .active {
    border-bottom-color: #4FC7F3;
  }
}