
.page_navbar {
  padding: 10px 20px;

  .row {
    display: flex;
  }

  .nav_buttons {
    width: 10%;
    min-width: 80px;
    margin-top: 6px;

    .back, .forward {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }

  .searchbox {
    width: 89%;
  }

  .breadcrumb {
    margin-top: 10px;
  }
}

.searchbox {
  position: relative;

  .search_icon {
    position: absolute;
    top: 6px;
    left: 7px;
  }

  input {
    width: 100%;
    background: #E8EDF2;
    border-radius: 5px;
    border: none;
    padding: 6px 8px 6px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  input::placeholder {
    font-weight: normal;
    color: #CBCBCB;
  }
}

.dataset_item {
  padding: 10px;
  background: white;
  border-radius: 5px;
  border: 1px solid #E8EDF2;
  max-width: 600px;

  .reference-link a {
    font-family: $font-family-sans-serif;
  }
  
  .title {
    font-weight: bold;
    margin-top: 6px;
  }

  .detail {
    font-size: .9rem;
    display: inline-block;
    font-weight: $font-weight-regular;
    color: #B1B1B1;
    margin-right: 10px;
  }
}

.search_modal {
  border-radius: 5px;
  background: #F5F7FA;
  border: 1px solid #E8EDF2;
  box-shadow: 0 0 6px #00000055;
  
  header {
    padding: 10px 10px 0 10px;

    .window_name {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
      font-weight: bold;
      color: #808080;
    }

    .searchbox {
      margin-bottom: 15px;
    }
  }

  .results {
    background: #FFFFFF;
    padding: 10px;
    min-height: 200px;
    max-height: 450px;
    overflow-y: auto;
  }
}

.segment {
  margin: 10px auto;
  background: #FFF;
  border-radius: 3px;
  border: 1px solid #D8DFE6;

  header {
    width: 100%;
    padding: 8px 10px;
    border-bottom: 1px solid #D8DFE6;
    min-height: 40px;
     
    .left_side {
      .icon-dark {
        float: left;
        margin: 3px 5px 0 0;
      }
      .name {
        font-family: $font-family-sans-serif;
        font-weight: 500;
        margin: 0;
        font-size: 16px;
        line-height: 1.45;
      }
    }
  }
}