
.page-navbar {
  padding: 10px 10px;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-buttons {
    width: 80px;
    margin-top: 6px;

    .back, .forward {
      width: 20px;
      height: 20px;
      margin-right: 10px;

      &.disabled {
        cursor: default;
      }
    }
  }

  .searchbox {
    width: 100%;
  }

  .breadcrumb {
    margin-top: 14px;
    font-family: 'Rubik';
    color: #808080;
    > a {
      color: #808080;
    }
    font-weight: 500;
    font-size: 14px;
  }
}

.searchbox {
  position: relative;

  .search_icon {
    position: absolute;
    top: 6px;
    left: 7px;
  }

  input {
    width: 100%;
    background: #E8EDF2;
    border-radius: 5px;
    border: none;
    padding: 6px 8px 6px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  input::placeholder {
    font-weight: normal;
    color: #CBCBCB;
  }
}

.search-modal {
  background: #F5F7FA;

  .search-modal-switch {
    display: flex;
    align-items: center;
    float: right;
    padding-right: 30px;
    padding-top: 3px;

    > label {
      padding-right: 20px;
    }

    > div {
      margin-top: -24px;
    }
  }
  
  header {
    padding: 10px 10px 0 10px;

    .window-name {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
      font-weight: bold;
      color: #808080;
    }

    .searchbox {
      margin-bottom: 15px;
    }
  }

  .results {
    background: #FFFFFF;
    padding: 10px;
    overflow-y: auto;
  }
}