.type-picker {
  position: relative;

  .type-picker-overlay {
    position: absolute;
    right: 0;
    margin-top: 5px;
    z-index: 99;
  }
}

.column-type {
  background: #fff;
  padding: 5px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #fff;
  border-radius: 3px;
  transition: 200ms;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .multi {
    padding-bottom: 3px;
  }

  span {
    margin-right: 5px;
  }

  &:focus {
    outline: none;
  }
}

.column-type.clickable:hover {
  cursor: pointer;
  border: solid 1px #D8DFE6;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1)
}

.column-type.clickable.active {
  border: solid 1px #D8DFE6;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1)
}

#schema-wrap {
  margin: 0;
  border: none;
  padding: 0;
  table-layout: fixed;
  
  .schema-header {
    font-family: 'Rubik';
    font-size: 10px;
    font-weight: 500;
    color: #4D4D4D;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    height: 30px;
    border-top: solid 1px #E8E9ED;

    th:first-child {
      width: 20px;
    }

    th {
      padding-left: 8px;
    }

    th.type-picker-header {
      padding-left: 10px;
      width: 100px;
    }
  }
}

.structure {
  .schema-title {
    text-transform: uppercase;
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Rubik';
    margin: 0;
  }
}