.type-picker {
  position: relative;

  .type-picker-overlay {
    position: absolute;
    right: 0;
    margin-top: 5px;
    z-index: 99;
  }
}

.column-type {
  background: #fff;
  padding: 5px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #fff;
  border-radius: 3px;
  transition: 200ms;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .multi {
    padding-bottom: 3px;
  }

  span {
    margin-right: 5px;
    width: 60px;
  }

  &:focus {
    outline: none;
  }
}

.column-type.clickable:hover {
  cursor: pointer;
  border: solid 1px #D8DFE6;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1)
}

.column-type.clickable.active {
  // transition: all 1000s;
  border: solid 1px #D8DFE6;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1)
}

.schema-wrap {
  width: 100%;
  
  .schema-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik';
    font-size: 10px;
    font-weight: 500;
    color: #4D4D4D;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px;
    border: solid 1px #E8E9ED;
    border-bottom: none;
  
    div:first-child {
      margin-left: 40px;
    }
    div:last-child {
      margin-right: 20px;
    }
  }
}