.label {
  font-family: 'Rubik';
  color: #333333;
  font-weight: 500;
  font-size: 14px;
}

.label.x-small {
  font-size: 10px;
  letter-spacing: 1px;
}

.label.small {
  font-size: 12px;
  font-weight: 200;
}

.label.large {
  font-size: 16px;
}

.description {
  font-family: 'Avenir Next';
  font-weight: 300;
  font-size: 14px;
  color: #4D4D4D;
}

.description.small {
  font-size: 12px;
}